<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>

<style>

body {
  font: 90%/1.45em "Arial", HelveticaNeue, Verdana, Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  color: #333;
  background-color: #fff;
}
</style>


  <body>

    
    <header th:replace="layout/layout :: header"></header>
    

    <main role="main">     
      <hr>
      <div class="container"> 

        <div class="card">
          <h4 class="card-header"><strong th:text="#{text.usuario.listado}">Listado de Usuarios</strong></h4>              
          <div class="card-body">            
            <hr>
            <div th:if="${msg != null}" class='alert alert-success' th:text="${msg}" role='alert'></div>
            <table class="table table-bordered"  style="table-layout: fixed; width: 100%;">
              <thead bgcolor="ADADAD">
                <tr>
<!--                   <th scope="col">Nombre</th> -->
                  <th scope="col" th:text="#{text.usuario.nombre}">Username</th>                  
<!--                   <th scope="col">Email</th> -->
                  <th scope="col"th:text="#{text.usuario.estatus}">Estatus</th>
                  <th scope="col"th:text="#{text.usuario.rol}">Role</th>
                  <th scope="col"th:text="#{text.usuario.operaciones}">Operaciones</th>
                  
                </tr>
              </thead>
              <tbody>
                <tr th:each="usuario : ${usuarios}">
<!--                   <td th:text="${usuario.nombre}"></td> -->
                  <td th:text="${usuario.username}"></td>                  
<!--                   <td th:text="${usuario.email}"></td> -->
                  <td th:text="${usuario.enabled ? 'Activo' : 'Bloqueado' }">Activo</td>
                 
                  <td th:text="${usuario.authority}"></td>
                  
                  
                  
                  <td>
                    <a th:href="@{/usuarios/delete/{id} (id=${usuario.id}) }" onclick="return confirm('¿Estas seguro?')" class="btn btn-danger btn-sm" role="button" title="Eliminar"><i class="fas fa-trash" aria-hidden="true"></i></a>
                    
                    <span th:switch="${usuario.enabled}"> 
                    
                      <a th:case="true" th:href="@{/usuarios/lock/{id} (id=${usuario.id}) }" 
                      		onclick="return confirm('¿Quiere bloquear el acceso al usuario?')" 
                      		class="btn btn-warning btn-sm" role="button" title="Bloquear el acceso al sistema para este usuario.">
                      		<i class="fa fa-lock" aria-hidden="true"></i></a>	
					  <a th:case="false" th:href="@{/usuarios/unlock/{id} (id=${usuario.id}) }" 
					  		onclick="return confirm('¿Desea desbloquear el usuario?')" 
					  		class="btn btn-success btn-sm" role="button" title="Permitir el acceso al sistema a este usuario.">
					  		<i class="fas fa-lock-open" aria-hidden="true"></i></a>
					   
					  	 </span>	
					  		

				 		
 					<a th:href="@{/usuarios/permisos/{id} (id=${usuario.id}) }" onclick="return confirm('¿Dar permisos de administrador?')" class="btn btn-success btn-sm" role="button" title="Otorgar Permisos de Administrador"><i class="fas fa-users-cog" aria-hidden="true"></i></a>
                   	<a th:href="@{/usuarios/quitarpermisos/{id} (id=${usuario.id}) }" onclick="return confirm('¿Quitar permisos de administrador?')" class="btn btn-dark btn-sm" role="button" title="Quitar Permisos de Administrador"><i class="fas fa-user-lock" aria-hidden="true"></i></a>
                  
                    
                  </td>
                  
                
			 
                </tr>                
                               
              </tbody>
            </table>
           
          </div>
        </div>
      </div> <!-- /container -->

    </main>
	<footer th:replace="layout/layout :: footer"></footer>
  </body>
</html>
