

<nav th:fragment="menu-principal"
	class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
	<a class="navbar-brand" th:href="@{/}">Solicitudes</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse"
		data-target="#navbarsExampleDefault"
		aria-controls="navbarsExampleDefault" aria-expanded="false"
		aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>

	<div class="collapse navbar-collapse" id="navbarsExampleDefault">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item"
				sec:authorize="hasAnyAuthority('SUPERVISOR','ADMINISTRADOR')">
				<a class="nav-link" th:href="@{/solicitudes/indexPaginate}">Solicitudes</a>
			</li>
			<li class="nav-item"
				sec:authorize="hasAnyAuthority('SUPERVISOR','ADMINISTRADOR')">
				<a class="nav-link" th:href="@{/talleres/listTalleres}">Talleres</a>
			</li>
			
			<li class="nav-item" sec:authorize="hasAnyAuthority('ADMINISTRADOR')">
				<a class="nav-link" th:href="@{/usuarios/index}">Usuarios</a>
			</li>
			<li class="nav-item"><a class="nav-link" th:href="@{/about}">Acerca</a>
			</li>
		</ul>
		<div sec:authorize="isAnonymous()">
			<a class="btn btn-primary" th:href="@{/index}">Ingresar</a>&nbsp; 
			<a class="btn btn-primary" th:href="@{/signup}">Registrarse</a>
		</div>
		<div sec:authorize="isAuthenticated()">
			<span class="text-light">Bienvenido</span>&nbsp;<span
				class="text-light" sec:authentication="name"></span>&nbsp; <a
				class="btn btn-primary" th:href="@{/logout}">Salir</a>
		</div>
		<ul class="navbar-nav navbar-right mx-4">
	
			<li class="nav-item dropdown show mx-2 ">
			
			<a class="btn btn-outline-primary dropdown-toggle" href="#"
				role="button" id="dropdownLenguaje" data-toggle="dropdown"
				aria-haspopup="true" aria-expanded="false">
				
				<span th:text="#{text.locale.language}"></span>
			</a>
				<div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
					<a class="dropdown-item" th:href="@{/locale(lang=es_ES)}" th:text="#{text.locale.es}">ES</a> 
					<a class="dropdown-item" th:href="@{/locale(lang=en_US)}" th:text="#{text.locale.en}">EN</a>
				</div>
			</li>

		</ul>
	</div>
</nav>
