<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<meta charset="UTF-8" />

<meta charset="ISO-8859-1">
<head th:replace="layout/layout :: head"></head>
<title>Gráfica Talleres</title>

<link rel="stylesheet"
    href="https://code.highcharts.com/css/highcharts.css" />
<script
    src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script
    src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/export-data.js"></script>
<script src="https://code.highcharts.com/modules/accessibility.js"></script>

<script src="https://code.highcharts.com/modules/offline-exporting.js"></script>


<style>

body {
  font: 90%/1.45em "Arial", HelveticaNeue, Verdana, Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  color: #333;
  background-color: #fff;
}
</style>


<body>
<header th:replace="layout/layout :: header"></header>
    <div align="center">
    <hr>
        <h2>Gráfica Total Facturado Talleres</h2>
    </div>
    
  <a class="nav-link" th:href="@{/grafica_proyectos}">Gráfica Proyectos</a>
    
    <figure class="highcharts-figure">
        <div id="container-bar"></div>
    </figure>
    <script type="text/javascript">
        $(document).ready(
                function() {
                    $.ajax({
                        url : "/get-data",
                        success : function(result) {
                            var tallerDtls = [];
                            var countDtls = [];
                            console.log(result);
                            Object.keys(result).forEach(
                                    function(key) {
                                        tallerDtls.push(key);
                                        countDtls.push(result[key]);
                                    });
                            drawChart(tallerDtls, countDtls);
                        }
                    });
                });
 
        function drawChart(taller, viewCounts) {
            Highcharts.chart('container-bar', {
                chart : {
                    type : 'column',
                    styledMode : true
                },
                title : {
                    text : 'Gráfica'
                },
                xAxis : [ {
                    title : {
                        text : 'Taller'
                    },
                    categories : taller
                } ],
                yAxis : [ {
                    className : 'highcharts-color-0',
                    title : {
                        text : 'Facturado'
                    }
                } ],
                
                tooltip: {
                    headerFormat: '<span style="font-size:11px">{series.name}</span><br>',
                    pointFormat: '<span style="color:{point.color}">{point.name}</span>: <b>{point.y:.2f}€</b> Total<br/>'
                  },
                
                series : [ {
                	data: viewCounts,
                	name: 'Vista 1',
                } ]
            });
            
            
        }
        
        
    </script>
    
    
    <footer th:replace="layout/layout :: footer">

</footer> 
</body>
</html>