<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<link href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"	rel="stylesheet">
  
  
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.24/css/jquery.dataTables.css">
<script type="text/javascript" src="https://code.jquery.com/jquery-3.4.1.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.js"></script>
 
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/1.6.1/css/buttons.dataTables.min.css">
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/searchpanes/1.2.1/css/searchPanes.dataTables.min.css"> 
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/select/1.3.3/css/select.dataTables.min.css"> 


<meta charset="UTF-8" />


<head th:replace="layout/layout :: head"></head>

<!-- Espacio entre botones de datatable y show entries -->


<style>

div.dataTables_length {
  margin-right: 2em;
}
</style>

<style>
th { white-space: nowrap;
 }

</style>

<style>

 
table.dataTable tfoot th {
    border: none;
    
}

</style>

<style>

.green {
  background-color: rgb(128, 255, 128) !important;
}

.yellow {
  background-color: rgb(255, 255, 128) !important;
}

.red {
  background-color: rgb(240, 81, 57)!important;
}

</style>


<style>

body {
  font: 90%/1.45em "Arial", HelveticaNeue, Verdana, Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  color: #333;
  background-color: #fff;
}
.dataTables_wrapper .dt-buttons {
  position: absolute;
  margin: 10px
}

div.dtsp-panesContainer:after {
  content: '';
  display: table;
  clear: both;
}
.dtsp-title {
  display: none;
}

div.dtsp-searchPanes {
  display: none;
}

</style>

<body>
<header th:replace="layout/layout :: header"></header>


          <div th:classappend="'alert-' + (${clase != null} ? ${clase} : info)" 
               th:if="${mensaje != null}" th:text="${mensaje}" class="alert alert-danger">
          </div>
          
          
 <main role="main">  
    
      <hr>
      
        <div class="card">
        
          <h4 class="card-header" align="center"><strong th:text="#{text.solicitud.listado}">Listado de Solicitudes</strong></h4> 
                                
          <div class="card-body">  
                 
           <a th:href="@{/solicitudes/form}" class="btn btn-primary btn-xs" th:text="#{text.solicitud.crear}">Crear Solicitud</a>
           <a class="btn btn-danger btn-xs" th:href="@{/eliminarTodo}" th:text="#{text.solicitud.eliminarTodo}" onclick="return confirm('¿Desea eliminar TODAS las Solicitudes?')" style="float: right;">Eliminar Todo</a>
								
								
												
			 <hr>			 
			   
		<div  class = "container" id="container"></div>		
				
           <table id="todotable" class="hover table table-striped table-bordered dt-responsive nowrap"  style="width: 100%;">
              <thead bgcolor="ADADAD">
                <tr>
                  <!-- <th >Id</th>  -->
                 <!--  <th></th> 
                  <th></th>-->
                  <th scope="col"th:text="#{text.solicitud.solicitud}">Solicitud</th> 
                  <th scope="col"th:text="#{text.solicitud.nombre}">Taller</th>                  
                  <th scope="col"th:text="#{text.solicitud.proyecto}">Proyecto</th>
                  <th scope="col"th:text="#{text.solicitud.descripcion}">Descripción</th>
                  <th scope="col"th:text="#{text.solicitud.oferta}">Oferta</th>
                  <th scope="col"th:text="#{text.solicitud.albaran}">Albarán</th>
                  <th scope="col"th:text="#{text.solicitud.precio}">Precio</th>    
                  <th scope="col"th:text="#{text.solicitud.pedido}">Pedido</th>
                  <th scope="col"th:text="#{text.solicitud.sscc}">SSCC</th>
                  <th scope="col"th:text="#{text.solicitud.fechaped}">FechaPed</th>
                  <th scope="col"th:text="#{text.solicitud.plazo}">Plazo</th>               
                  <th scope="col"th:text="#{text.solicitud.fecharec}">FechaRec</th>
                  <th scope="col"th:text="#{text.solicitud.demora}">Demora</th>
                  <th scope="col"th:text="#{text.solicitud.estado}">Estado</th>
                  <th scope="col"th:text="#{text.solicitud.comentarios}">Comentarios</th>
                  <th scope="col"th:text="#{text.solicitud.opciones}">Opciones</th>
                  <th style="display:none;"></th>
                  
                  
                  
                  
                 
                </tr>
              </thead>
              
              <tbody>
              
                <tr th:each="proyecto : ${proyecto}">
                  <!-- <td th:text="${proyecto.id}"></td> -->
                  <!--  <td></td>  
                  <td ><a class="btn btn-primary btn-xs" th:href="@{/ver/} + ${proyecto.id}" th:text="Ver"></a></td>-->   
                                       
                  <td ><a th:href="@{/solicitudesPdf/} + ${proyecto.id}" th:text="${proyecto.solicitud}"></a></td>   
                  <td th:text="${proyecto.nombreTaller}"></td>                  
                  <td th:text="${proyecto.nombre}"></td>
                  <td th:text="${proyecto.descripcion}"></td>
                  <td ><a th:href="@{/ofertas/} + ${proyecto.id}" th:text="${proyecto.oferta}"></a></td>
                  <td ><a th:href="@{/albaranes/} + ${proyecto.id}" th:text="${proyecto.albaran}"></a></td>
                  <td th:text="${proyecto.precio}+€"></td>                  
                  <td ><a th:href="@{/pedidos/} + ${proyecto.id}" th:text="${proyecto.pedido}"></a></td>
                  <td ><a th:href="@{/sscc/} + ${proyecto.id}" th:text="${proyecto.sscc}"></a></td>
                  <td th:text="${proyecto.fechaPed}"></td>
                  <td th:text="${proyecto.plazo}"></td>               
                  <td th:text="${proyecto.fechaRec}"></td>
                  <td th:text="${proyecto.demora}"></td>
                  <td th:text="${proyecto.estado}"></td>
                  <td th:text="${proyecto.comentarios}"></td>
                   
                  <td >
                  <a class="btn btn-primary btn-xs" th:href="@{/solicitudes/form/} + ${proyecto.id}" th:text="#{text.taller.editar}"></a>
				<a class="btn btn-danger btn-xs"
								th:href="@{/eliminarproy/} + ${proyecto.id}" th:text="#{text.taller.eliminar}"
								onclick="return confirm('¿Desea eliminar la solicutud?')" ></a></td>
				 <td th:text="${proyecto.solicitud}" style="display:none;"></td>
				 
                </tr>                
                               
              </tbody>
              <tfoot>
              <tr>
               <!-- <th ></th> -->
               <th ></th>
                <th ></th>
                <th ></th>
                <th ></th>
                <th ></th>
                <th style="text-align:right">Total:</th>
                <th style="text-align:left"></th>
                <th ></th>
                <th ></th>
                <th ></th>
                <th ></th>
                <th ></th>
                <th ></th>
                <th ></th>
                <th ></th>
                <th ></th>
                <th style="display:none;"></th>
                
              </tr>
              </tfoot>
              
            </table>
     
     
           
          </div>
          
          
        </div>
        
        
        
        
<!-- Datatable configuración -->

	   <script>
	   
	
	
	$(document).ready( function () {

		 var table = $('#todotable').DataTable({
			 
			/*  "sAjaxSource": "/gettodos",  
	
			 "sAjaxDataProp": "", */ 
 
			 "language": {
				 searchPanes: {
		                clearMessage: 'Borrar Filtros'
		            },
		            select: {
		                rows: {
		                    _: "%d Filas seleccionadas",
		                    0: "Pulse una fila para seleccionarla",
		                    1: "1 Fila Seleccionada"
		                }
		            },
				 
				        "sProcessing":    "Procesando...",
				        "sLengthMenu":    "Mostrar _MENU_ registros",
				        "sZeroRecords":   "No se encontraron resultados",
				        "sEmptyTable":    "Ningún dato disponible en esta tabla",
				        "sInfo":          "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
				        "sInfoEmpty":     "Mostrando registros del 0 al 0 de un total de 0 registros",
				        "sInfoFiltered":  "(filtrado de un total de _MAX_ registros)",
				        "sInfoPostFix":   "",
				        "sSearch":        "Buscar:",
				        "sUrl":           "",
				        "sInfoThousands":  ",",
				      
				        "sLoadingRecords": "Cargando...",
				        "oPaginate": {
				            "sFirst":    "Primero",
				            "sLast":    "Último",
				            "sNext":    "Siguiente",
				            "sPrevious": "Anterior"
				        },
				        "oAria": {
				            "sSortAscending":  ": Activar para ordenar la columna de manera ascendente",
				            "sSortDescending": ": Activar para ordenar la columna de manera descendente"
				        }
				    
				 },
			  
		      lengthChange:   false,
		      scrollY:        true,
	          scrollX:        true,
	          scrollCollapse: false,
	          paging:         false,
			 // select: {style: 'multi'},
			  
			  createdRow: function( row, data, dataIndex ) {
				  
		         if ( data[13] == "Recibido" ) {        
		             $(row).addClass('green');
		     
		          }else if (data[13] == "Pendiente de Validación"){
		        	 $(row).addClass('yellow'); 
		        }
		         
		        if ( data[12] >= "1"  && data[11] == 0 && data[14] == 0 ) { 
		        	
		        	//Para crear alerta si la demora es mayor que 1. Ha expirado el plazo de entrega y que avise una sola vez por cada solicitud
		        	    
		        	    let dato1 = data[16]; //Se pasan a string los valores de las columnas para que la alerta no sea igual en  cada caso
		        	    let dato2 = data[1];
		        	    let dato3 = data[12];
		        	    let dato4 = data[0];
		        	    
		        	    var alerted = localStorage.getItem(dato4) || '';
		        	    if (alerted != 'yes') {
		        	    alert(dato1 + ' de ' + dato2 + ' ha expirado el plazo ' + dato3 + ' día/s' ); 
		        	    localStorage.setItem(dato4,'yes');
		        	
		         }
		        	 $(row).addClass('red');    
		        }
		        
	          },
	          
	         
  
			 /* dom: 'lBfrtip', */
	         /* dom: 'RCPlBfrtip', */ 

	         dom: 'BPfrtip',
	         
	        searchPanes: {
	        	
	        	filterChanged: function (count) {
	                $('.spToggle').text(this.i18n('searchPanes.collapse', {0: 'Filtros', _: 'Filtros Aplicados (%d)'}, count));
	              },
				 targets: [0],
				 threshold: 1,
				 cascadePanes: true,
				 dtOpts: {
		                dom: "tp",
		                paging: false,
		                pagingType: 'numbers',
		                searching: true
		            },
				 
				  columns: [ 13, 0, 1, 2 ],
			        layout: 'columns-4',
		            viewTotal: true,
		            
		            
		        },         
	        buttons: [	 
	        	
	        	{
	                text: 'Filtros',
	                className: 'spToggle showPanes',
	                action: function (e, dt, node, config) {
	                  dt.searchPanes.container().find('.dtsp-searchPanes').slideToggle(200, function () {
	                    $('.spToggle').toggleClass('showPanes', $(this).is(':visible'));
	                  });
	                },
	        	},
	
	            {   text:"Copiar",
	                extend: 'copyHtml5',
	                titleAttr: 'Copiar',
	                footer: true,
	                exportOptions: {
	                columns: [ 0, ':visible' ]
	                }
	            },
	            {
	                extend: 'excelHtml5',
	                footer: true,
	                exportOptions: {
	                columns: ':visible'
	                },
	               
	               
	            },
	            {
	                extend: 'pdfHtml5',
	                orientation: 'landscape',
	                pageSize: 'LEGAL',
	                footer: true,
	                exportOptions: {
	                columns: ':visible'
	                      
	                }
	            },
	            {   
	            	text:"Seleccionar Columnas",
	                extend: 'colvis',	                
	            },
	            
	            {   
	            	text:"Restaurar Columnas",
	                extend: 'colvisRestore',	                
	            },
	                       
	           
	        ],
	       
	        //Total facturado - pie de tabla
	        
	        "footerCallback": function ( row, data, start, end, display ) {
	            var api = this.api(), data;
	 
	            // Remove the formatting to get integer data for summation
	            var intVal = function ( i ) {
	                return typeof i === 'string' ?
	                    i.replace(/[^\d.-]/g, '')*1 :
	                    typeof i === 'number' ?
	                        i : 0;
	            };
	 
	            // Total over all pages
	            total = api
	                .column( 6 )
	                .data()
	                .reduce( function (a, b) {
	                    return intVal(a) + intVal(b);
	                }, 0 );
	 
	            // Total over this page
	            pageTotal = api
	                .column( 6, { page: 'current'} )
	                .data()
	                .reduce( function (a, b) {
	                    return intVal(a) + intVal(b);
	                }, 0 );
	 
	            // Update footer
	            $( api.column( 6 ).footer() ).html(
	                pageTotal +'€' 
	            );
	        },
	        
	        
	        //Añadir checkbox
	       
	        /* 'columnDefs': [{
	        	   'targets': 17,
	        	   'searchable':false,
	        	   'orderable':false,
	        	   'stateSave': true,
	        	   'className': 'dt-body-center',
	        	   'render': function (data, type, full, meta){
	        	       return '<input type="checkbox" name="id[]" value="' + $('<div/>').text(data).html() + '">';
	        	   },
	         
	        	}],  */
	        	
	        	
		        	
		    /* Para usar con json    	
	        
		       "sScrollY": "300px",
		        "bScrollCollapse": true,
		        "bPaginate": false,
		        "bJQueryUI": true,
		        "aoColumnDefs": [
		            { "sWidth": "100%", "aTargets": [ -1 ] }
		        ] 

		 	 "columns": [
				{ "data": "id"},
				{ "data": "nombreTaller"},
				{ "data": "nombre"},
				{ "data": "descripcion"},
				{ "data": "oferta"},	
				{ "data": "albaran"},
				{ "data": "precio"},
				{ "data": "solicitud"},
				{ "data": "pedido"},
				{ "data": "sscc"},
				{ "data": "plazo"},
				{ "data": "fechaPed"},			
				{ "data": "fechaRec"},
				{ "data": "demora"},
	            {"defaultContent": ` <button type="button"  class="btn btn-primary btn-single btn-sm fa-input" onclick="location.href='/solicitudes/form/'" >Editar</button> `},
	            {"defaultContent":  ` <button type="button"  class="btn btn-danger btn-single btn-sm fa-input"onclick="location.href='/elimibarproy/{id}'"><i class="fa fa-trash" title="Eliminar"></i></button>`},
                
			]   */
		    
		  
			 
		 
	});
		 
		 table.searchPanes.container().find('.dtsp-searchPanes').css('display','none');
	});	
	
	    
	  
	

	
	</script>  
	
	
	<!-- script para crear alerta que avise una sola vez -->
	
	<!-- <script type="text/javascript">
    var alerted = localStorage.getItem('alerted') || '';
    if (alerted != 'yes') {
     alert("My alert.");
     localStorage.setItem('alerted','yes');
    }
    </script> -->


<footer th:replace="layout/layout :: footer">

</footer>  
</main> 
</body>


</html>