<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<head th:replace="layout/layout :: head"></head>

<style>

body {
  font: 90%/1.45em "Arial", HelveticaNeue, Verdana, Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  color: #333;
  background-color: #fff;
}
</style>

<body>

    
	<header th:replace="layout/layout :: header"></header>
	
	
          <div th:classappend="'alert-' + (${clase != null} ? ${clase} : info)" 
               th:if="${mensaje != null}" th:text="${mensaje}" class="alert alert-danger">
          </div>
             
             
	<div class="container py-4" >

		<div class="card bg-light" >
			<div class="card-header" th:text="${titulo}"></div>
			<div class="card-body" >

				<h4 class="card-title">
					<a sec:authorize="hasRole('ROLE_ADMIN')" class="btn btn-primary btn-xs"
						th:href="@{'/solicitudes/form/' + ${proyecto.id}}"
						th:text="#{text.solicitud.form.titulo.editar}"></a>
				</h4>
				





				 <hr>  
				 
				 			
           <table class="table table-bordered"  style="table-layout: fixed; width: 100%;">
              <thead bgcolor="ADADAD">
                <tr>
                  <!-- <th >Id</th>  -->
                                 
                  <th scope="col"th:text="#{text.solicitud.proyecto}">Proyecto</th>
                  <th scope="col"th:text="#{text.solicitud.descripcion}">Descripción</th>
                  <th scope="col"th:text="#{text.solicitud.oferta}">Oferta</th>
                  <th scope="col"th:text="#{text.solicitud.albaran}">Albarán</th>
                  <th scope="col"th:text="#{text.solicitud.precio}">Precio</th>
                  <th scope="col"th:text="#{text.solicitud.solicitud}">Solicitud</th>
                  <th scope="col"th:text="#{text.solicitud.pedido}">Pedido</th>
                  <th scope="col"th:text="#{text.solicitud.sscc}">SSCC</th>
                  
                </tr>
              </thead>
              
              <tbody>
              
                <tr th:each="proyecto : ${proyecto}">           
                  <td th:text="${proyecto.nombre}" ></td>
                  <td th:text="${proyecto.descripcion}"></td>
                  <td ><a th:href="@{/ofertas/} + ${proyecto.id}" th:text="${proyecto.oferta}"></a></td>
                  <td ><a th:href="@{/albaranes/} + ${proyecto.id}" th:text="${proyecto.albaran}"></a></td>
                  <td th:text="${proyecto.precio}+€"></td>
                  <td ><a th:href="@{/solicitudesPdf/} + ${proyecto.id}" th:text="${proyecto.solicitud}"></a></td>
                  <td ><a th:href="@{/pedidos/} + ${proyecto.id}" th:text="${proyecto.pedido}"></a></td>
                  <td ><a th:href="@{/sscc/} + ${proyecto.id}" th:text="${proyecto.sscc}"></a></td>
                  
                </tr>                
                               
              </tbody>
            </table>

			</div>
		</div>

	</div>

	<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>